.assetsGroup {
    position: relative;
}
.assetsGroup.open {
    /* background: purple; */
}

.childrenContainer {
    position: absolute;
    display: none;
    top: 100%;
    left: 12px;
    right: 0;
    flex-direction: column-reverse;
    background: #f7f7f7;
    /* background: yellow; */
}

.organizerView:hover .assetsGroup:hover {
    opacity: 1;
}

.organizerView:hover .assetsGroup:hover > p.row {
    border-left: 8px solid #1592E5;
    background: #DFDFDF;
}
.organizerView:hover .assetsGroup:hover > p.row::before {
    background: #1592E5;
}

.assetsGroup:hover > .childrenContainer {
    display: flex;
}