.organizerView {
    display: flex;
    flex-direction: column-reverse;
}

.organizerView:hover .assetsGroup,
.organizerView:hover p.colorRow,
.organizerView:hover p.textStyleRow,
.organizerView:hover p.symbolRow {
    opacity: 0.6;
}